@import "tailwindcss";
.button-primary {
  background: var(--button-primary-bg);
  color: var(--button-primary-text);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button-primary:hover {
  background: var(--button-primary-hover);
}

.button-secondary {
  background: var(--button-secondary-bg);
  color: var(--button-secondary-text);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button-secondary:hover {
  background: var(--button-secondary-hover);
}
